.row {
	margin-right: 0px;
	margin-left: 0px;
}

th.table-vertical {
	width: 15%;
	background: #0a0ac4;
	color: #FFF;
	border-radius: 0px 10px 10px 0px;
}

th {
	text-align: center;
	background: #0a0ac4;
	color: #FFF;
	border: 2px solid;
}

label {
	width: 130px;
	font-size: 1.3em;
	margin-bottom: 15px;
}

select {
	height: 30px;
	width: 270px;
	font-size: 1em;
}

input {
	height: 30px !important;
	font-size: 30px;
}

.btn {
	margin-top: 20px;
}

tr.main_header th {
	background-color: #000fff;
}