<div id="app-info-wrap"  >
    <div id="app-info" class="row" >
        <div id="logo-consigua-wrap" class="col grid-6 row">     
            <img src="{{ asset('bundles/' ~ rutaweb ~ '/temacsgwebapp/shared/images/branding/comsigua-logo.png') }}" title="COMSIGUA" alt="CONSIGUA" >
            <div class="consigua-name">Complejo siderurgico de Guayana </div>
        </div>
        <div id="app-id" class="col grid-10 row">
            <span class="app-name col grid-8" >
                {{ nombrelargoproyecto }} - <strong>{{ siglasproyecto }}</strong>
            </span>
            <div class="app-image col grid-8">
                <img src="{{ asset('bundles/' ~ rutaweb ~ '/temacsgwebapp/images/example/app-image.png') }}" title="COMSIGUA" alt="CONSIGUA" >
            </div>
        </div>
    </div>
</div>