<!-- Cabecera del sitio-->
<!-- El alto maximo de las imagenes debe ser 40px--> 
<div id="branding" class="row" >
    <div class="push-1 alpha grid-13 col">
        <img src="{{ asset('bundles/' ~ rutaweb ~ '/temacsgwebapp/shared/images/branding/ministerio-basicas-minerias.png') }}" 
             title="Ministerio del Poder Popular para las Industrias Básicas y Minería" 
             alt="Ministerio del Poder Popular para las Industrias Básicas y Minería"/>
    </div>
    <div class="grid-3 omega col">
        <img src="{{ asset('bundles/' ~ rutaweb ~ '/temacsgwebapp/shared/images/branding/corazon-venezolano.png') }}" 
             title="Corazón Venezolano" 
             alt="Corazón Venezolano"/>
    </div>
</div>
<!-- Fin Cabecera-->
