<!--menu del sitio -->
<div id="menu"  >
    <div id="inner-menu">
        <ul id="main-menu" class="menu"> 
            <li >          
                <div class="sub-trigger"  >Administración</div>
                <ul id="opc1" class="submenu" >
                    <li class="first"><a href="" title="" >Gestion</a></li>
                    <li><a href="" title="" >Administración</a></li>
                    <li><a href="" title="" ><a href="" title="" class="">Lorem</a></li>
                    <li><a href="" title="" >Ipsu</a></li>
                    <li class="last"><a href="" title="" class="last">Dolore</a></li>
                </ul>      
            </li>

            <li>          
                <div class="sub-trigger" ref="#opc1" >Operaciones</div>
                <ul id="opc1" class="submenu" >
                    <li class="first"><a href="" title="" >Gestion</a></li>
                    <li><a href="" title="" >Administración</a></li>
                    <li><a href="" title="" ><a href="" title="" class="">Lorem</a></li>
                    <li><a href="" title="" >Ipsu</a></li>
                    <li class="last"><a href="" title="" class="last">Dolore</a></li>
                </ul>      
            </li>

            <li >  
                <div  class="sub-trigger" ref="#opc2" >Planta</div>
                <ul id="opc2" class="submenu">
                    <li class="first"><a href="" title="" >Gestion</a></li>
                    <li class="active"><a href="" title="" >Administración</a></li>
                    <li><a href="" title="" ><a href="" title="" class="">Lorem</a></li>
                    <li><a href="" title="" >Ipsu</a></li>
                    <li class="last"><a href="" title="" >Dolore</a></li>
                </ul>
            </li>

            <li class="last">          
                <div class="sub-trigger" ref="#opc1" >Usuarios</div>
                <ul id="opc1" class="submenu" >
                    <li class="first"><a href="" title="" >Gestion</a></li>
                    <li><a href="" title="" >Administración</a></li>
                    <li><a href="" title="" ><a href="" title="" class="">Lorem</a></li>
                    <li><a href="" title="" >Ipsu</a></li>
                    <li class="last"><a href="" title="" class="last">Dolore</a></li>
                </ul>      
            </li>

        </ul>
    </div>
</div>
<!-- Fin menu del sitio-->
