<div id="inner-user">
    {% if (app.session.get('id') != null) %}
    <ul id="user-links" >
        <li>         
            <a href="{{ path('excepcion_index') }}" title="Home">
                <i class="glyphicon glyphicon-home"></i>Home
            </a>
        </li>
        <li> 
            <a href="{{path('empleado_show',{'id':app.session.get('id')})}}" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <i class="glyphicon glyphicon-user"></i>
                {{app.session.get('name')}}
            </a>
        </li>
        <li>         
            {% if (app.session.get('nivel') == 1) %}
                    : Empleado
            {% endif %}
            {% if (app.session.get('nivel') == 2) %}
                    : Supervisor
            {% endif %}
            {% if (app.session.get('nivel') == 3) %}
                    : Jefe de Departamento
            {% endif %}
            {% if (app.session.get('nivel') == 4) %}
                    : Gerente
            {% endif %}
        </li>
        <li>         
            <a href="{{ path('empleado_logout') }}" title="Cerrar Sesión">
                <i class="glyphicon glyphicon-off"></i>Salir
            </a>
        </li>
    </ul>
    {% endif %}
</div>